<div class="container">
  <div class="contents">
    <%# ログイン時のエラーメッセージ  %>
    <div class='flash-message'>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
      <%= render "devise/shared/error_messages", resource: resource %>
    </div>
    <h5 class="align_center">新規登録フォーム</h5>
    <div class="form_post">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <table class="form_set_width_max">
          <tbody>
            <tr>
              <div class="align_center margin_top">
                <span class="indispensable">すべて必須項目です</span>
              </div>
            </tr>
            <tr>
              <div class="field">
                <%= f.label :nickname %><br />
                <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname",placeholder:'10文字まで', maxlength: 10, class: "form_nickname" %>
              </div>
            </tr>
            <tr>
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autocomplete: "email", class: "form_email", placeholder:"PC・携帯どちらでも可" %>
              </div>
            </tr>
            <tr>
              <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "new-password", placeholder:"6文字以上の半角英数字" %>
              </div>
            </tr>
            <tr>
              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"同じパスワードを入力" %>
              </div>
            </tr>
            <tr>
              <div class="align_center margin_top"><br>
                <div class="registration_disclaimer">
                  <u><a href="/static_pages/disclaimer">利用規約</a></u>
                  に同意いただいた上で、<br>新規登録にお進みください。
                </div>
              </div>
              <div class="actions">
                <br><%= f.submit "登録する", class: 'btn btn-default btn-outline-success' %>
              </div>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
