<div class="container">
  <div class="contents">
    <div class='flash-message'>
      <%= render "devise/shared/error_messages", resource: resource %>
    </div>
    <h5 class="align_center"><b>再設定リンク送信フォーム</b></h5>
    <div class="form_post">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <table class="form_set_width_max">
          <tbody>
            <tr>
              <div class="align_center margin_top">
                ご登録のメールアドレスに、パスワード再設定用のリンクをお送りします。
              </div>
            </tr>
            <tr>
              <div class="field margin_top">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form_email", placeholder: '登録中のアドレスを入力' %>
              </div>
            </tr>
          </tbody>
        </table>
        <div class="align_center margin_top">
          <span class="indispensable">クリックは「1回」でお願いします。<br>読み込みにお時間をいただく場合があります。</span>
        </div>
        <div class="actions margin_top">
          <%= f.submit "送信する", class: 'btn btn-default btn-outline-success', data: { confirm: '送り先の間違いを防ぐため、メールアドレスをもう一度ご確認ください。' } %>
        </div><br>
      <% end %>
    </div>
  </div>
</div>
