<div class="align_center">記録フォーム</div>
<div class="form_post">
  <%= form_with model: post, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <table class="form_set_width_max">
      <tbody>
        <tr>
          <td class="form_set_width"><span class="indispensable">必須</span></td>
          <td class="form_set_width"><%= f.label :date_of_post, '日付' %></td>
          <td class="form_align_left">
            <% if controller.action_name == 'new' %>
              <%= f.date_field :date_of_post, value: Date.today %>
            <% else %>
              <%= f.date_field :date_of_post %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="form_set_width"><span class="indispensable">必須</span></td>
          <td><%= f.label :price, '金額' %></td>
          <td class="form_price_size form_align_left"><%= f.number_field :price, style: "width:70%", min: 1, placeholder:'半角数字のみ' %> 円</td>
        </tr>
        <tr>
          <td class="form_set_width"></td>
          <td><%= f.label :memo1, 'メモ①' %></td>
          <td class="form_memo_size form_align_left">
            <%= f.text_area :memo1, style: "width:100%", placeholder:'100文字まで', maxlength: 100, class: 'form_memo' %>
          </td>
        </tr>
        <tr>
          <td class="form_set_width"></td>
          <td><%= f.label :memo2, 'メモ②' %></td>
          <td class="form_memo_size form_align_left">
            <%= f.text_area :memo2, style: "width:100%", placeholder:'100文字まで', maxlength: 100, class: 'form_memo' %>
          </td>
        </tr>
        <tr>
          <td class="form_set_width"><span class="indispensable">必須</span></td>
          <td colspan="2">
            <b>Good yen?</b><br>
            <span class="under-line">いいお金の使い方でしたか？</span><br>
            <%= f.radio_button :select_yen, true %>
            <%= f.label :select_yen, 'はい！', value: true %>
            <%= f.radio_button :select_yen, false %>
            <%= f.label :select_yen, 'あと一歩', value: false %>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <%= f.button class: 'btn btn-default btn-outline-success', name: "submit" do %>
              <i class="fa-solid fa-calculator fa-lg fa-fw" aria-hidden="true"></i>保存する
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
