<div>
  <%= form_with model: post, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="post-content">
      <span class="indispensable">必須</span>
      <%= f.label :date_of_post, '日付' %>
      <%= f.date_field :date_of_post, value: Date.today %>
    </div>
    <div class="post-content">
      <span class="indispensable">必須</span>
      <%= f.label :price, '支出金額' %>
      <%= f.number_field :price, min: 1, placeholder:'半角数字のみ' %> 円
    </div>
    <div class="post-content">
      <span class="indispensable">必須</span>
      <b>Good yen?（いいお金の使い方でしたか？）</b><br>
        <%= f.radio_button :select_yen, true %>
        <%= f.label :select_yen, 'はい！', value: true %>
        <%= f.radio_button :select_yen, false %>
        <%= f.label :select_yen, 'あと一歩', value: false %>
    </div>
    <div class="post-content">
      <%= f.label :memo1, 'メモ①' %>
      <%= f.text_area :memo1, placeholder:'100文字まで', maxlength: 100, class: 'form_memo' %>
    </div>
    <div class="post-content">
      <%= f.label :memo2, 'メモ②' %>
      <%= f.text_area :memo2, placeholder:'100文字まで', maxlength: 100, class: 'form_memo' %>
    </div>
    <div>
      <%= f.button name: "submit" do %>
        <i class="fa-solid fa-calculator fa-lg fa-fw" aria-hidden="true"></i>記録
      <% end %>
    </div>
  <% end %>
</div>
