<div>
  <%= form_with model: post, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="post-content">
      <%= f.label :date_of_post, '日付' %>
      <span class="indispensable">必須</span><br>
      <%= f.date_field :date_of_post %>
    </div>
    <div class="post-content">
      <%= f.label :price, '支出金額' %>
      <span class="indispensable">必須</span><br>
      <%= f.text_field :price, placeholder:'半角数字のみ' %> 円
    </div>
    <div class="post-content">
      <b>Good yen?（いいお金の使い方でしたか？）</b>
      <span class="indispensable">必須</span><br />
        <%= f.radio_button :select_yen, true %>
        <%= f.label :select_yen, 'はい！', value: true %>
        <%= f.radio_button :select_yen, false %>
        <%= f.label :select_yen, 'あと一歩', value: false %>
    </div>
    <div class="post-content">
      <%= f.label :memo1, 'メモ①' %><br>
      <%= f.text_field :memo1, placeholder:'入力は任意です' %>
    </div>
    <div class="post-content">
      <%= f.label :memo2, 'メモ②' %><br>
      <%= f.text_field :memo2, placeholder:'入力は任意です' %>
    </div>
    <div>
      <%= f.submit '記録する', class: "submit-button" %>
    </div>
  <% end %>
</div>
