<div>
  <b><%= current_user.nickname %>さんの記録</b><br>
  <% if period.present? %>
    継続期間：<%= period[:day] %>日（<%= period[:first_post] %> 〜 <%= period[:last_post] %>）<br>
  <% end %>
  <i class="fa-solid fa-magnifying-glass fa-lg fa-fw" aria-hidden="true"></i>検索条件<br>
  <% querys.each do |query| %>
    <%= query %><br>
  <% end %>
</div>
