<div class="contents">
  <%= render partial: 'query', locals: { post: @post } %>
  <div>
    <% if @posts.present? %>
      <%= column_chart  @monthly_price_sums, options = {
        stacked: true,
        width: '800px',
        colors: ["#ACFF40", "#FFF33F"],
        thousands: ",", 
        suffix: "円"
      } %>

      <%= @post_count %>件 | 合計：<%= @price_sum.to_s(:delimited) %>円 | 月平均：<%= @monthly_price_average.to_s(:delimited) %>円
    <% else %>
      <div>結果は0件です。</div>
    <% end %>
  </div>
</div>
