<div class="container">
  <div class="contents">
    <%= render partial: 'query', locals: { period: @period, querys: @querys } %>
    <% if @posts.present? %>
      <%= pie_chart @price_sums, options = {
        donut: true,
        colors: ["#ACFF40", "#FFF33F"],
        thousands: ",", 
        suffix: "円",
        label: "金額",
        library: {
          title: {
            text: "Good yen!<br>#{@price_true_percent}%",
            align: 'center',
            verticalAlign: 'middle'
          },
          plotOptions: {
            pie: {
              dataLabels: {
                enabled: false
              },
              innerSize: '50%',
            }
          }
        }
      } %>
    <% end %>
    <div class="align_center">
      <%= @post_count %> 件<br>
      <div class="target">
        合計：<%= @price_sum.to_s(:delimited) %>円<br>
      </div>
      <div>
        <input type="checkbox" id="show_hide" checked>
        <label for="show_hide">金額を表示</label>
      </div>
      <a href="https://twitter.com/intent/tweet?url=https://good-yen.herokuapp.com/%0A&hashtags=yen,かんたん支出管理" target="_blank">
        <%= image_tag '2021 Twitter logo - blue.png', alt: "Twitterリンク", class: "twitter" %>
        結果をツイート
      </a>
    </div>
  </div>
</div>
