<div class="container">
  <div class="contents">
    <div class='flash-message'><%= notice %></div>
    <div class="first-message">
      <div class="yen-logo">
        <%= image_tag 'yen-logo.png', alt: "yen!ロゴ", class: "yen-logo" %>
      </div>
      <h1 class="copy">お金を、豊かに！</h1>
      <div class="first-message">
        yen!（エン）は、手軽に家計簿をつけたい方向けの、<span class="under-line">かんたん支出管理</span>サービスです。
      </div>
      <div class="first-message">
        支出を前向きにとらえ、<span class="under-line">豊かに実ったお金</span>にしていく仕組みが特徴です。
      </div>
    </div>
    <div class="button-registration">
      <%= link_to 'はじめる（無料）', new_user_registration_path, class: "button-gradation nowrap" %>
    </div>
    <%# ここがおすすめ %>
    <div class="set-margin">
      <div class="heading-name">
        <h3>ここがおすすめ</h3>
      </div>
      <ul class="messages">
        <li class="heading-name-line"><li>
        <li class="message">
          <h4 class="message-topic">
            <i class="fa-solid fa-face-smile-wink fa-lg fa-fw point" aria-hidden="true"></i>
            パッ! と支出記録
          </h4>
          <div>
            必須項目はたったの3つ。シンプルな画面で、日々の支出をかんたんに記録できます。
          </div>
        </li>
        <li class="message">
          <h4 class="message-topic">
            <i class="fa-solid fa-mobile-screen fa-lg fa-fw point" aria-hidden="true"></i>
            手軽に振り返り＆シェア
          </h4>
          <div>
            グラフ機能で支出を見える化。画面をスクリーンショットして、SNSで共有しましょう！
          </div>
        </li>
        <li class="message">
          <h4 class="message-topic">
            <i class="fa-solid fa-coins fa-lg fa-fw point" aria-hidden="true"></i>
            「楽しい」から「もっと」が始まる
          </h4>
          <div>
            使い方を見直してみたり、収入や貯蓄とのバランスを考えたり。<br>データの「エクスポート機能」を利用して、より発展的な支出の分析も可能です。<br><span class="under-line">大事な「お金」を考える、はじめの一歩に！</span>
          </div>
        </li>
      </ul>
    </div>
    <%# よくある質問 %>
    <div class="set-margin">
      <div class="heading-name">
        <h3>よくある質問</h3>
      </div>
      <ul class="messages">
        <li class="heading-name-line"><li>
        <li class="message">
          <h4 class="message-topic">
            <i class="fa-solid fa-check fa-lg fa-fw point" aria-hidden="true"></i>
            無料で利用できますか？
          </h4>
          <div>
            はい。すべての機能を「無料」でご利用いただけます。
          </div>
        </li>
        <li class="message">
          <h4 class="message-topic">
            <i class="fa-solid fa-check fa-lg fa-fw point" aria-hidden="true"></i>
            登録情報（ニックネーム・メールアドレス・パスワード）を変更したいのですが
          </h4>
          <div>
            ログイン後、<b><%= link_to 'こちらのページ', edit_user_registration_path %></b>から変更をお願い致します。<br>
            （ログイン前にクリックした場合、ログインページに遷移します）
          </div>
        </li>
        <li class="message content" id='export_info'>
          <h4 class="message-topic">
            <i class="fa-solid fa-check fa-lg fa-fw point" aria-hidden="true"></i>
            データのエクスポートは、どのような手順で行えばいいですか？
          </h4>
          <div>
            ＊検討
          </div>
        </li>
        <li class="message">
          <h4 class="message-topic">
            <i class="fa-solid fa-check fa-lg fa-fw point" aria-hidden="true"></i>
            退会したいのですが
          </h4>
          <div>
            ログイン後、<b><%= link_to 'こちらのページ', edit_user_registration_path(anchor: 'registration_destroy') %></b>から手続きをお願い致します。<br>
            （ログイン前にクリックした場合、ログインページに遷移します）
          </div>
        </li>
      </ul>
    </div>
    <%# お問い合わせ %>
    <div class="set-margin">
      <div class="heading-name">
        <h3>お問い合わせ</h3>
      </div>
      <ul class="messages">
        <li class="heading-name-line"><li>
        <li class="message">
          <i class="fa-solid fa-envelope fa-lg fa-fw" aria-hidden="true"></i></i>
          ご意見・お問い合わせは、<b><a href="#">こちらのページ</a></b>から、お気軽にどうぞ！
        </li>
      </ul>
    </div>
  </div>
</div>

