<div class="container">
  <div class="contents">
    <%= notice %>
    <div class="content">
      <div class="heading-name">
        <h3 class="h2-heading-name set-margin">
          <i class="fa-solid fa-calculator fa-lg fa-fw green" aria-hidden="true"></i>
          記録フォーム
        </h3>
      </div>
      <ul class="messages">
        <li class="heading-name-line"><li>
      </ul>
      <%= render partial: 'form', locals: { post: @post } %>
    </div>
    <%# 結果一覧 %>
    <div class="content">
      <div class="heading-name">
        <h3 class="h2-heading-name set-margin"><%= current_user.nickname %>さんの記録（<%= Time.now.month %>月）</h3>
      </div>
      <ul class="messages">
        <li class="heading-name-line"><li>
      </ul>
      <%= @monthly_post_count %>件 | 合計：<%= @monthly_price_sum.to_s(:delimited) %>円
      <% if @posts.present? %>
        <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
        <div class="posts-list">
          <table>
            <%= render partial: 'post_list', collection: @posts, as: "post" %>
          </table>
        </div>
      <% end %>
    </div>
    <%# /結果一覧 %>
  </div>
</div>
