<%= render 'shared/header' %>
<h3>支出を記録しましょう！</h3>
<%= render partial: 'form', locals: { post: @post } %>

<div>
  <p>（今月の）支出記録：<%= @posts.length %>件</p>
    <ul>
      <% @posts.each do |post| %>
        <li><%= link_to '編集', edit_post_path(post.id) %></li>
        <li><%= link_to '削除', post_path(post.id), method: :delete %></li>
        <% if post.select_yen %>
          <li><em>Good yen!</em></li>
        <% end %>
          <li><%= post.date_of_post %></li>
          <li><%= post.memo1 %></li>
          <li><%= post.memo2 %></li>
          <li>¥<%= post.price %></li>
      <% end %>
    </ul>  
</div>
