<div class="container">
  <div class="contents">
    <div class='flash-message'><%= notice %></div>
    <div class='kana'><%= link_to 'えん！', kana_posts_path %></div>
    <%# 結果一覧 %>
    <h5 class="align_center">記録フォーム</h5>
    <%= render partial: 'form', locals: { post: @post } %>
    <div class="heading-name">
      <h5 class="set-margin"><%= current_user.nickname %>さんの記録（<%= Time.now.month %>月）</h5>
    </div>
    <ul class="messages">
      <li class="heading-name-line"><li>
    </ul>
    <div class="align_center"><%= @monthly_post_count %> 件 | 合計：<%= @monthly_price_sum.to_s(:delimited) %>円</div>
    <% if @posts.present? %>
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
      <table>
        <%= render partial: 'post_list', collection: @posts, as: "post" %>
      </table>
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    <% end %>
  </div>
</div>
