<div class="contents">
  <h2>
    <i class="fa-solid fa-coins fa-lg fa-fw point" alt="コインのマーク"></i>
    支出を記録しましょう！
  </h2>
  <div class="content">
    <div class="heading-name">
      <h3 class="h2-heading-name set-margin">送信フォーム</h3>
    </div>
    <ul class="messages">
      <li class="heading-name-line"><li>
    </ul>
    <%= render partial: 'form', locals: { post: @post } %>
  </div>
  <div class="content">
    <div class="heading-name">
      <h3 class="h2-heading-name set-margin"><%= current_user.nickname %>さんの記録（<%= Time.now.month %>月）</h3>
    </div>
    <ul class="messages">
      <li class="heading-name-line"><li>
    </ul>
    <div class="posts-list">
      <%= @posts.length %>件 | 合計：<%= @sum_price_month.to_s(:delimited) %>円
      <table>
        <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
        <%= render partial: 'post_list', locals: { posts: @posts } %>
      </table>
    </div>
  </div>
</div>
