<div class="container">
  <div class="contents">
    <%= notice %>
    <%# 結果一覧 %>
    <%= render partial: 'form', locals: { post: @post } %>
    <div class="heading-name">
      <h5 class="h2-heading-name set-margin"><%= current_user.nickname %>さんの記録（<%= Time.now.month %>月）</h5>
    </div>
    <ul class="messages">
      <li class="heading-name-line"><li>
    </ul>
    <div class="align_center"><%= @monthly_post_count %> 件 | 合計：<%= @monthly_price_sum.to_s(:delimited) %>円</div>
    <% if @posts.present? %>
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
      <table>
        <%= render partial: 'post_list', collection: @posts, as: "post" %>
      </table>
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    <% end %>
  </div>
</div>
