<div class="contents">
  <h2>
    <i class="fa-solid fa-coins fa-lg fa-fw point" aria-hidden="true"></i>
    支出を振り返りましょう！
  </h2>
  <a href="https://twitter.com/intent/tweet?url=https://good-yen.herokuapp.com/%0A&hashtags=yen,かんたん支出管理" target="_blank">
    <%= image_tag '2021 Twitter logo - blue.png', alt: "Twitterリンク", class: "twitter" %>
  </a>
  <%# 検索フォーム %>
  <div class="content">
    <div class="heading-name">
      <h3 class="h2-heading-name set-margin">
        <i class="fa-solid fa-magnifying-glass fa-lg fa-fw" aria-hidden="true"></i>
        検索フォーム
      </h3>
    </div>
    <ul class="messages">
      <li class="heading-name-line"><li>
    </ul>
  </div>
  <div>
    <%= search_form_for @q, url: search_posts_path do |f| %>
      <div>
        <%= f.label :date_of_post_gteq, '日付' %>
        <%= f.date_field :date_of_post_gteq, id: "date1" %> 〜
        <%= f.date_field :date_of_post_lteq, id: "date2" %>
      </div>
      <div>
        <%= f.label :price_gteq, '支出金額' %>
        <br>
        <%= f.number_field :price_gteq, placeholder: '半角数字のみ', id: "price1" %> 円〜
        <%= f.number_field :price_lteq, placeholder: '半角数字のみ', id: "price2" %> 円
      </div>
      <div>
        <em>Good yen?：いいお金の使い方でしたか？</em>
        <br>
        <%= f.radio_button :select_yen_eq, '', id: "select_yen" %>
        <%= f.label :select_yen_eq, '指定なし', value: '' %>
        <%= f.radio_button :select_yen_eq, true %>
        <%= f.label :select_yen_eq, '「Good yen!」のみ', value: true %>
        <%= f.radio_button :select_yen_eq, false %>
        <%= f.label :select_yen_eq, '「あと一歩」のみ', value: false %>
      </div>
      <div>
        <%= f.label :memo1, 'メモ①' %>
        <br>
        <%= f.search_field :memo1, placeholder: 'OR検索できます', value: params[:q]&.dig(:memo1), id: "memo1" %>
      </div>
      <div>
        <%= f.label :memo2, 'メモ②' %>
        <br>
        <%= f.search_field :memo2, placeholder: 'OR検索できます', value: params[:q]&.dig(:memo2), id: "memo2" %>
      </div>
      <%= f.button class: 'btn btn-default btn-primary' do %>
        <i class="fa-solid fa-magnifying-glass fa-lg fa-fw" aria-hidden="true"></i>検索
      <% end %>
      <%= f.button class: 'btn btn-default btn-primary' do %>
        <i class="fa-solid fa-list fa-lg fa-fw" aria-hidden="true"></i>一覧
      <% end %>
      <%= f.button class: 'btn btn-default', name: 'export_csv' do %>
        <i class="fa-solid fa-file-lines fa-lg fa-fw" aria-hidden="true"></i>CSV出力
      <% end %>
      <%= f.button class: 'btn btn-default', name: 'show_donut' do %>
        <i class="fa-solid fa-chart-pie fa-lg fa-fw" alt="円グラフ"></i>全体
      <% end %>
      <%= f.button class: 'btn btn-default', name: 'show_column' do %>
        <i class="fa-solid fa-chart-simple fa-lg fa-fw" alt="縦向き棒グラフ"></i>月ごと
      <% end %>
      <%= f.button class: 'btn btn-default', name: 'show_bar' do %>
        <i class="fa-solid fa-chart-simple fa-lg fa-fw bar_rotate" alt="横向き棒グラフ"></i>月ごと
      <% end %>
    <% end %>
    <a href="/" id="reset_btn">
      <i class="fa-solid fa-arrow-rotate-right fa-lg fa-fw" aria-hidden="true"></i>
      検索条件をクリア
    </a>
  </div>
  <%# /検索フォーム %>
  <div class="content">
    <div class="heading-name">
      <h3 class="h2-heading-name set-margin"><%= current_user.nickname %>さんの記録</h3>
    </div>
    <ul class="messages">
      <li class="heading-name-line"><li>
    </ul>
  </div>
  <% unless @price_year.zero? %>
    <div>
      合計：<%= @price_year.to_s(:delimited) %>円 | 月平均：<%= @price_month_average.to_s(:delimited) %>円
    </div>
  <% end %>
  <%# 上記は要修正。今年以外の記録がある場合も表示する %>
  <%# 結果一覧 %>
  <div>
    一覧：全<%= @count_post %>件<br>
    <i class="fa-solid fa-sort fa-lg fa-fw" aria-hidden="true"></i>
    「Good yen?」や「日付」をクリックすると、<strong>並べ替え</strong>ができます
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
  <div class="posts-list">
    <table>
      <thead>
        <tr>
          <th class="set-width-logo"><%= sort_link(@q, :select_yen, 'Good yen?') %></th>
          <th><%= sort_link(@q, :date_of_post, '日付') %></th>
          <th><%= sort_link(@q, :memo1, 'メモ①') %></th>
          <th><%= sort_link(@q, :memo2, 'メモ②') %></th>
          <th class="nowrap"><%= sort_link(@q, :price, '　金額') %></th>
          <th class="set-width"></th>
          <th class="set-width"></th>
        </tr>
      <thead>
      <tbody>
        <%= render partial: 'post_list', collection: @posts, as: "post" %>
      <tbody>
    </table>
  </div>
  <%# /結果一覧 %>
</div>
